<%# app/views/items/new.html.erb %>
<h2>商品追加</h2>
<%= form_with(model: @item, local: true, multipart: true) do |form| %>

<%# app/views/items/_form_fields.html.erb %>
<%= render "form_fields", form: form, item: @item %>

  <!-- 画像アップロード（新規用） -->
  <div id="image-upload-new" class="image-upload">
    <input type="file" id="image_input" multiple style="display: none;">
    <div id="file_trigger" class="fake-input">ファイルを選択</div>
    <div id="preview"></div>
    <div id="image_fields" class="hidden-input"></div>
  </div>

  <div>
    <%= form.submit "アイテムを追加" %>
  </div>
<% end %>